* {
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  border-radius: 20px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  border-bottom: 3px solid transparent;
  color: white;
  margin: 5px;
}

#workspaces button {
  padding: 0 5px;
  margin: 0 3px;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  /* color: rgb(97, 160, 255); */
  /* background-color: rgba(60, 60, 60, 1.0); */
  background-color: rgba(255, 255, 255, 0.2);
}

#workspaces button.active {
  /* color: rgb(97, 255, 160); */
  /* background-color: rgba(60, 60, 60, 1.0); */
  background-color: rgba(255, 255, 255, 0.2);
}

.modules-left {
  background-color: rgba(31, 35, 53, 1.0);
  /* background-color: #1f2335; */
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.modules-center {
  background-color: rgba(31, 35, 53, 1.0);
  /* background-color: #1f2335; */
  padding-left: 10px;
  padding-right: 10px;
}

.modules-right {
  background-color: rgba(31, 35, 53, 1.0);
  /* background-color: #1f2335; */
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#mode {
  background: transparent;
}

#custom-keyboard,
#pulseaudio {
  /* padding: 0 6px; */
  padding: 0 10px;
}

#clock {
  background-color: transparent;
  color: white;
  padding: 0 10px;
}

@keyframes blink {
  to {
    background-color: rgba(1, 1, 1, 0);
  }
}

#pulseaudio {
  background: transparent;
  color: white;
}
